#virtual environment
env/

#Database
db.sqlite3

__pycache__

.gitignore
#Migrations
blog/Migrations

#static files
files/

template_raw

wordsmith template html5
db.sqlite3
blogpy/__pycache__/settings.cpython-39.pyc
blogpy/__pycache__/urls.cpython-39.pyc
.gitignore
.vscode